<h1><%=@title%></h1>
<% @contests.each do |contest| %>
  <tr>
    <td><%= link_to contest.title, new_contest_contestant_path(contest) %> <br></td>
  </tr>

   <% end %>

<p>Find me in app/views/static_pages/activeContests.html.erb</p>
